@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LINE Seed JP', sans-serif;
}